<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325831676092-r4qklhmth8fhf2scvh0v9vfun50lqg54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325831676092-r4qklhmth8fhf2scvh0v9vfun50lqg54</string>
	<key>API_KEY</key>
	<string>AIzaSyAST2ekcC5Vz9hSgfY2Cww7dEW7vBUiH2A</string>
	<key>GCM_SENDER_ID</key>
	<string>325831676092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstbd233.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ipssiflutter2023</string>
	<key>STORAGE_BUCKET</key>
	<string>ipssiflutter2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325831676092:ios:1617db29c4e4aca29000b9</string>
</dict>
</plist>